@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column justify-content-center">
    <div>
        <a href="@Url.Action("Frostpunk2", "Review")" style="width: 100%; margin-bottom: 20px">
            <img src="~/Images/Frostpunk 2/Frostpunk2.jpg" alt="Frostpunk 2" style="width:100%;" />
            <p style="position: relative; top: -100px; left: 40%; font-size:50px; color:azure">Frostpunk 2 Review</p>
        </a>
    </div>
    @* Featured review *@
    <div class="d-flex flex-row justify-content-between" style="height: 500px; margin-bottom: 50px">
        <p style="font-size:4rem; height: 4rem; position:relative; left:45%; color:azure">Featured</p>
        <div class="justify-content-between d-flex flex-row" style="position:relative; top: 20%; right: 10%">
            @for (int i = 0; i < 4; i++)
            {
                <div style="width: 250px; height: 400px; background-color:white; margin: 20px">

                </div>
            }
        </div>
    </div>
</div>
@* Latest reviews *@
<div style="display:flex; flex-direction:column; justify-content:center; border-top: 5px solid darkgray">
    <p style="font-size:2rem; height: 2rem; position:relative; left:5%; color:azure">Latest</p>
        <div class="justify-content-between d-flex flex-column" style="width: 100%; height: 90%; position:relative; top: 10%;">
            @for (int i = 0; i < 10; i++)
            {
                <div style="width: 100%; height: 100px; background-color:white; border:solid darkgray">

                </div>
            }
        </div>
</div>